<launch>
  <arg name="node_name" default="rviz_goal_bridge" />
  <arg name="rviz_goal_topic" default="/move_base_simple/goal" />
  <arg name="planning_cmd_pub_topic" default="/uav1/sunray/planning_cmd" />
  <arg name="control_cmd" default="6" />
  <arg name="cmd_source" default="1" />
  <arg name="goal_height" default="0.6" />
  <arg name="default_hold_time" default="0.0" />
  <arg name="default_yaw" default="0.0" />
  <arg name="use_goal_yaw" default="true" />
  <arg name="log_save" default="false" />

  <node name="$(arg node_name)" pkg="sunray_planning" type="pose_goal_to_planning_cmd_node" output="screen">
    <param name="log_save" value="$(arg log_save)" />
    <param name="goal_sub_topic" value="$(arg rviz_goal_topic)" />
    <param name="planning_cmd_pub_topic" value="$(arg planning_cmd_pub_topic)" />
    <param name="control_cmd" value="$(arg control_cmd)" />
    <param name="cmd_source" value="$(arg cmd_source)" />
    <param name="goal_height" value="$(arg goal_height)" />
    <param name="default_hold_time" value="$(arg default_hold_time)" />
    <param name="default_yaw" value="$(arg default_yaw)" />
    <param name="use_goal_yaw" value="$(arg use_goal_yaw)" />
  </node>
</launch>
