<launch>
  <arg name="source_id" default="3" />
  <arg name="config_yamlfile_path" default="$(find localization_fusion)/config/localization_sources_ugv.yaml" />
  <arg name="health_rate_hz" default="10.0" />
  <arg name="use_receive_time" default="$(eval 'true' if int(arg('source_id')) == 3 else 'false')" />
  <arg name="agent_name" default="ugv" />
  <arg name="agent_id" default="1" />
  <arg name="agent_num" default="6" />
  <arg name="use_private_agent_key" default="false" />

  <include file="$(find localization_fusion)/launch/localiztion_ugv.launch">
    <arg name="source_id" value="$(arg source_id)" />
    <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
    <arg name="health_rate_hz" value="$(arg health_rate_hz)" />
    <arg name="use_receive_time" value="$(arg use_receive_time)" />
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="agent_id" value="$(arg agent_id)" />
    <arg name="use_private_agent_key" value="$(arg use_private_agent_key)" />
    <arg name="node_name" value="$(eval 'localization_fusion_ugv_' + str(int(arg('agent_id'))))" />
    <arg name="global_frame_id" value="$(arg agent_name)$(arg agent_id)/sunray_global" />
    <arg name="local_frame_id" value="$(arg agent_name)$(arg agent_id)/sunray_local" />
    <arg name="base_frame_id" value="$(arg agent_name)$(arg agent_id)/base_link" />
  </include>

  <include file="$(find localization_fusion)/launch/localiztion_ugv_swarm.launch"
           if="$(eval int(arg('agent_num')) > int(arg('agent_id')))">
    <arg name="source_id" value="$(arg source_id)" />
    <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
    <arg name="health_rate_hz" value="$(arg health_rate_hz)" />
    <arg name="use_receive_time" value="$(arg use_receive_time)" />
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="agent_id" value="$(eval int(arg('agent_id')) + 1)" />
    <arg name="agent_num" value="$(arg agent_num)" />
    <arg name="use_private_agent_key" value="$(arg use_private_agent_key)" />
  </include>
</launch>
