<launch>
  <!--
    MOCAP定位源启动栈:
    1. vrpn_client_ros/sample.launch
    2. sunray_mocap/mocap_odom.launch
  -->
  <arg name="vrpn_server" default="192.168.20.15" />

  <include file="$(find vrpn_client_ros)/launch/sample.launch">
    <arg name="server" value="$(arg vrpn_server)" />
  </include>

  <include file="$(find sunray_mocap)/launch/mocap_odom.launch" />
</launch>
