<launch>
  <arg name="local_odom_topic" default="${uav_ns}/sunray/localization/local_odom" />
  <arg name="odom_status_topic" default="${uav_ns}/sunray/localization/odom_status" />
  <arg name="mavros_ns" default="__AUTO__" />
  <arg name="publish_rate_hz" default="100.0" />
  <arg name="init_wait_timeout_s" default="5.0" />
  <arg name="param_retry_interval_s" default="1.0" />
  <arg name="auto_set_ekf2_ev_ctrl" default="false" />
  <arg name="exit_on_param_error" default="true" />

  <node pkg="localization_fusion"
        type="send_vision_pose_node"
        name="send_vision_pose"
        output="screen">
    <param name="local_odom_topic" value="$(arg local_odom_topic)" />
    <param name="odom_status_topic" value="$(arg odom_status_topic)" />
    <param name="mavros_ns" value="$(arg mavros_ns)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
    <param name="init_wait_timeout_s" value="$(arg init_wait_timeout_s)" />
    <param name="param_retry_interval_s" value="$(arg param_retry_interval_s)" />
    <param name="auto_set_ekf2_ev_ctrl" value="$(arg auto_set_ekf2_ev_ctrl)" />
    <param name="exit_on_param_error" value="$(arg exit_on_param_error)" />
  </node>
</launch>
