<launch>
  <!-- UGV控制节点启动文件 -->
  <arg name="ugv_id" default="ugv1" />
  <arg name="localization_ns" default="$(arg ugv_id)" />
  <arg name="node_name" default="ugv_control_node" />

  <!-- 加载配置文件 -->
  <rosparam file="$(find sunray_ugv_control)/config/sunray_control_config.yaml" />
  <param name="ugv_id" value="$(arg ugv_id)" />
  <param name="localization_ns" value="$(arg localization_ns)" />

  <!-- 启动UGV控制节点 -->
  <node pkg="sunray_ugv_control" type="node" name="$(arg node_name)" output="screen">
    <remap from="/$(arg ugv_id)/sunray/cmd_vel" to="/$(arg ugv_id)/cmd_vel" />
    <remap from="ugv_controller_state" to="/$(arg ugv_id)/sunray/ugv_controller_state" />
  </node>
</launch>
