# ROS/Catkin workspace files
.catkin_workspace
build/
devel/
logs/

# Media files
*.mp4
*.avi
*.jpg
*.png
*.svj
*.gif

# Static libraries
*.lai
*.la
*.a
*.lib

# Dynamic libraries
*.so
*.dylib
*.dll

# Compiled object files
*.slo
*.lo
*.o
*.obj
*.d

# Executables
*.exe
*.out
*.app

# Python bytecode
*.pyc
__pycache__/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Build scripts
/tools/build_scripts/bin/
/tools/build_scripts/tui/build/
/tools/build_scripts/tui/third_party/
/tools/build_scripts/build_deprecated/

.clang-tidy
# .clang-format

