<launch>
  <arg name="udp_bind_port" default="9696" />
  <arg name="udp_target_port" default="9898" />
  <arg name="tcp_listen_port" default="9696" />
  <arg name="remote_ip" default="" />
  <arg name="remote_tcp_port" default="0" />
  <arg name="shared_secret" default="yunlink-default-secret" />
  <arg name="enable_auto_agent_id" default="true" />
  <arg name="agent_id" default="1" />
  <arg name="enable_endpoint_discovery" default="true" />
  <arg name="discovery_port" default="9966" />
  <arg name="discovery_target_ip" default="255.255.255.255" />
  <arg name="discovery_period_ms" default="1000" />
  <arg name="endpoint_name_prefix" default="yundrone_uav" />
  <arg name="agent_id_file" default="$(env HOME)/.config/yunlink_ros_bridge/agent_id" />
  <arg name="endpoint_id_file" default="$(env HOME)/.config/yunlink_ros_bridge/endpoint_id" />
  <arg name="enable_system_services" default="true" />
  <arg name="enable_runtime_diagnostics" default="true" />
  <arg name="sunray_system_ns" default="/sunray_system" />
  <arg name="system_service_timeout_sec" default="3.0" />
  <arg name="diagnostic_publish_rate_hz" default="2.0" />
  <arg name="diagnostic_stale_timeout_ms" default="1000" />
  <arg name="monitor_diagnostic_topic" default="/yunlink_ros_bridge/monitor_diagnostics" />
  <arg name="enable_tui_monitor" default="true" />
  <arg name="tui_print_hz" default="2.0" />
  <arg name="tui_stale_timeout_ms" default="1000" />
  <arg name="default_start_with_terminal" default="false" />

  <arg name="local_odom_topic" default="" />
  <arg name="odom_state_topic" default="" />
  <arg name="external_odom_topic" default="" />
  <arg name="global_odom_topic" default="" />
  <arg name="control_state_topic" default="" />
  <arg name="local_command_status_topic" default="" />
  <arg name="canonical_command_execution_status_topic" default="" />
  <arg name="control_cmd_topic" default="" />
  <arg name="px4_state_topic" default="" />

  <node pkg="yunlink_ros_bridge"
        type="yunlink_ros_bridge_node"
        name="yunlink_ros_bridge_node"
        output="screen">
    <param name="udp_bind_port" value="$(arg udp_bind_port)" />
    <param name="udp_target_port" value="$(arg udp_target_port)" />
    <param name="tcp_listen_port" value="$(arg tcp_listen_port)" />
    <param name="remote_ip" value="$(arg remote_ip)" />
    <param name="remote_tcp_port" value="$(arg remote_tcp_port)" />
    <param name="shared_secret" value="$(arg shared_secret)" />
    <param name="enable_auto_agent_id" value="$(arg enable_auto_agent_id)" />
    <param name="agent_id" value="$(arg agent_id)" />
    <param name="agent_id_file" value="$(arg agent_id_file)" />
    <param name="enable_endpoint_discovery" value="$(arg enable_endpoint_discovery)" />
    <param name="discovery_port" value="$(arg discovery_port)" />
    <param name="discovery_target_ip" value="$(arg discovery_target_ip)" />
    <param name="discovery_period_ms" value="$(arg discovery_period_ms)" />
    <param name="endpoint_name_prefix" value="$(arg endpoint_name_prefix)" />
    <param name="endpoint_id_file" value="$(arg endpoint_id_file)" />
    <param name="enable_system_services" value="$(arg enable_system_services)" />
    <param name="enable_runtime_diagnostics" value="$(arg enable_runtime_diagnostics)" />
    <param name="sunray_system_ns" value="$(arg sunray_system_ns)" />
    <param name="system_service_timeout_sec" value="$(arg system_service_timeout_sec)" />
    <param name="diagnostic_publish_rate_hz" value="$(arg diagnostic_publish_rate_hz)" />
    <param name="diagnostic_stale_timeout_ms" value="$(arg diagnostic_stale_timeout_ms)" />
    <param name="monitor_diagnostic_topic" value="$(arg monitor_diagnostic_topic)" />
    <param name="default_start_with_terminal" value="$(arg default_start_with_terminal)" />

    <param name="local_odom_topic" value="$(arg local_odom_topic)" />
    <param name="odom_state_topic" value="$(arg odom_state_topic)" />
    <param name="external_odom_topic" value="$(arg external_odom_topic)" />
    <param name="global_odom_topic" value="$(arg global_odom_topic)" />
    <param name="control_state_topic" value="$(arg control_state_topic)" />
    <param name="local_command_status_topic" value="$(arg local_command_status_topic)" />
    <param name="canonical_command_execution_status_topic" value="$(arg canonical_command_execution_status_topic)" />
    <param name="control_cmd_topic" value="$(arg control_cmd_topic)" />
    <param name="px4_state_topic" value="$(arg px4_state_topic)" />
  </node>

  <node if="$(arg enable_tui_monitor)"
        pkg="yunlink_ros_bridge"
        type="yunlink_ros_bridge_tui_node"
        name="yunlink_ros_bridge_tui_node"
        output="screen">
    <param name="monitor_diagnostic_topic" value="$(arg monitor_diagnostic_topic)" />
    <param name="print_hz" value="$(arg tui_print_hz)" />
    <param name="stale_timeout_ms" value="$(arg tui_stale_timeout_ms)" />
  </node>
</launch>
