<launch>
  <!-- Target UAV namespace pieces -->
  <arg name="uav_id" default="1" />
  <arg name="uav_name" default="uav" />

  <!-- HTTP bind -->
  <arg name="host" default="0.0.0.0" />
  <arg name="port" default="8080" />

  <node pkg="px4_web_api_demo"
        type="px4_web_api_demo_node.py"
        name="px4_web_api_demo"
        output="screen">
    <param name="uav_id" value="$(arg uav_id)" />
    <param name="uav_name" value="$(arg uav_name)" />
    <param name="host" value="$(arg host)" />
    <param name="port" value="$(arg port)" />
  </node>
</launch>

