<launch>
  <arg name="uav_name" default="uav"/>
  <arg name="uav_id" default="1"/>
  <arg name="drone_id" default="$(eval int(arg('uav_id')) - 1)"/>

  <arg name="map_size_x" default="42.0"/>
  <arg name="map_size_y" default="30.0"/>
  <arg name="map_size_z" default="5.0"/>
  <arg name="local_map_size_x" default="5.5"/>
  <arg name="local_map_size_y" default="5.5"/>
  <arg name="local_map_size_z" default="4.5"/>
  <arg name="init_x" default="-20.0"/>
  <arg name="init_y" default="-9.0"/>
  <arg name="init_z" default="1.0"/>

  <!-- 兼容旧 launch 接口，当前 EXTERNAL_TARGET 模式下不会使用这些目标点参数 -->
  <arg name="target_x" default="20.0"/>
  <arg name="target_y" default="9.0"/>
  <arg name="target_z" default="1.0"/>

  <arg name="max_vel" default="2.0"/>
  <arg name="max_acc" default="3.0"/>
  <arg name="planning_horizon" default="7.5"/>

  <!-- 仿真内部传感器话题后缀 -->
  <arg name="odom_topic" default="visual_slam/odom"/>
  <arg name="cloud_topic" default="pcl_render_node/cloud"/>
  <arg name="camera_pose_topic" default="pcl_render_node/camera_pose"/>
  <arg name="depth_topic" default="pcl_render_node/depth"/>
  <arg name="obj_num" default="10"/>

  <include file="$(find ego_planner)/launch/include/advanced_param_exp.xml">
    <arg name="odom_topic" value="/drone_$(arg drone_id)_$(arg odom_topic)"/>
    <arg name="cloud_topic" value="/drone_$(arg drone_id)_$(arg cloud_topic)"/>
    <arg name="camera_pose_topic" value="/drone_$(arg drone_id)_$(arg camera_pose_topic)"/>
    <arg name="depth_topic" value="/drone_$(arg drone_id)_$(arg depth_topic)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="local_map_size_x" value="$(arg local_map_size_x)"/>
    <arg name="local_map_size_y" value="$(arg local_map_size_y)"/>
    <arg name="local_map_size_z" value="$(arg local_map_size_z)"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
  </include>

  <include file="$(find ego_planner)/launch_sunray/simulator_sunray.xml">
    <arg name="uav_name" value="$(arg uav_name)"/>
    <arg name="uav_id" value="$(arg uav_id)"/>
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="init_x_" value="$(arg init_x)"/>
    <arg name="init_y_" value="$(arg init_y)"/>
    <arg name="init_z_" value="$(arg init_z)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>
</launch>