<launch>
  <arg name="uav_name" default="uav" />
  <arg name="uav_id" default="1" />

  <arg name="map_size_x" default="40.0" />
  <arg name="map_size_y" default="40.0" />
  <arg name="map_size_z" default="2.0" />

  <!-- 兼容旧 launch 接口，当前 EXTERNAL_TARGET 模式下不会使用这些目标点参数 -->
  <arg name="target_x" default="20.0" />
  <arg name="target_y" default="9.0" />
  <arg name="target_z" default="1.0" />

  <arg name="max_vel" default="2.0" />
  <arg name="max_acc" default="2.0" />
  <arg name="planning_horizon" default="5.0" />

  <arg name="local_map_size_x" default="5.5" />
  <arg name="local_map_size_y" default="5.5" />
  <arg name="local_map_size_z" default="4.5" />

  <arg name="global_pointcloud_topic" default="/sunray/pointCloud" />
  <arg name="odom_topic" default="/sunray/odometry" />
  <arg name="camera_pose_topic" default="pcl_render_node/camera_pose" />
  <arg name="depth_topic" default="pcl_render_node/depth" />
  <arg name="obj_num" default="0" />

  <include file="$(find ego_planner)/launch/include/advanced_param_exp.xml">
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cloud_topic" value="$(arg global_pointcloud_topic)"/>
    <arg name="camera_pose_topic" value="$(arg camera_pose_topic)" />
    <arg name="depth_topic" value="$(arg depth_topic)" />
    <arg name="map_size_x" value="$(arg map_size_x)" />
    <arg name="map_size_y" value="$(arg map_size_y)" />
    <arg name="map_size_z" value="$(arg map_size_z)" />
    <arg name="local_map_size_x" value="$(arg local_map_size_x)" />
    <arg name="local_map_size_y" value="$(arg local_map_size_y)" />
    <arg name="local_map_size_z" value="$(arg local_map_size_z)" />
    <arg name="max_vel" value="$(arg max_vel)" />
    <arg name="max_acc" value="$(arg max_acc)" />
    <arg name="planning_horizon" value="$(arg planning_horizon)" />
  </include>

  <arg name="enable_rviz" default="true" />
  <arg name="rivz_config" default="$(find ego_planner)/launch_sunray/single.rviz" />
  <group if="$(arg enable_rviz)">
    <node type="rviz" name="rviz_sim" pkg="rviz" args="-d $(arg rivz_config)" />
  </group>
</launch>