<launch>
  <arg name="launch_groups_config"
       default="$(find simulation_tools)/config/sunray_launch_groups.yaml" />
  <arg name="quick_launch_groups_config"
       default="$(find simulation_tools)/config/sunray_quick_launch_groups.yaml" />

  <node pkg="simulation_tools"
        type="sunray_launcher_node"
        name="sunray_launcher_node"
        output="screen">
    <param name="launch_groups_config" value="$(arg launch_groups_config)" />
    <param name="quick_launch_groups_config" value="$(arg quick_launch_groups_config)" />
    <rosparam file="$(arg launch_groups_config)" command="load" />
    <rosparam file="$(arg quick_launch_groups_config)" command="load" />
  </node>
</launch>
