<!-- EGO-Planner 实验版本 - 使用 VIO 里程计 -->
<launch>
  <arg name="uav_name" default="uav"/>
  <arg name="uav_id" default="1"/>

  <!-- 里程计与外参 -->
  <arg name="odom_topic" default="/$(arg uav_name)$(arg uav_id)/sunray/localization/local_odom"/>
  <arg name="extrinsic_topic" default="/$(arg uav_name)$(arg uav_id)/sunray/localization/vins_estimator/extrinsic"/>

  <include file="$(find ego_planner)/launch/include/advanced_param_exp.xml">
    <arg name="uav_name" value="$(arg uav_name)"/>
    <arg name="uav_id" value="$(arg uav_id)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="extrinsic_topic" value="$(arg extrinsic_topic)"/>
    <arg name="depth_topic" value="/camera/depth/image_rect_raw"/>
    <arg name="cx" value="322.5561828613281"/>
    <arg name="cy" value="243.67318725585938"/>
    <arg name="fx" value="386.5376281738281"/>
    <arg name="fy" value="386.5376281738281"/>
  </include>
</launch>