<launch>
  <arg name="control_config_file" default="$(find uav_control)/config/sunray_control_config.yaml" />
  <arg name="uav_name" default="__AUTO__" />
  <arg name="uav_id" default="__AUTO__" />

  <node pkg="uav_control"
        type="load_param.py"
        name="load_param"
        output="screen"
        args="--input-yaml $(arg control_config_file) --uav-name $(arg uav_name) --uav-id $(arg uav_id)" />
</launch>
