<launch>
  <arg name="config_yamlfile_path"
       default="$(find sunray_uav_control)/config/sunray_control_config.yaml" />
  <arg name="relative_takeoff_height" default="0.6" />
  <arg name="max_takeoff_velocity" default="0.6" />
  <arg name="square_side_length" default="2.0" />
  <arg name="point_hold_time_s" default="3.0" />
  <arg name="loop_hz" default="30.0" />
  <arg name="move_frame" default="local" /> <!-- local or body -->

  <node pkg="sunray_uav_control"
        type="origin_controller_square_test"
        name="origin_controller_square_test"
        output="screen">
    <param name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
    <param name="relative_takeoff_height" value="$(arg relative_takeoff_height)" />
    <param name="max_takeoff_velocity" value="$(arg max_takeoff_velocity)" />
    <param name="square_side_length" value="$(arg square_side_length)" />
    <param name="point_hold_time_s" value="$(arg point_hold_time_s)" />
    <param name="loop_hz" value="$(arg loop_hz)" />
    <param name="move_frame" value="$(arg move_frame)" />
  </node>
</launch>
