<launch>
  <arg name="airframe_type" default="sunray_150" />
  <arg name="config_base_path"
       default="$(find sunray_uav_control)/config/sunray_control_base.yaml" />
  <arg name="airframe_config_path"
       default="$(find sunray_uav_control)/config/airframes/$(arg airframe_type).yaml" />
  <arg name="agent_name" default="uav" />
  <arg name="agent_id" default="1" />
  <arg name="node_name" default="$(eval 'uav_control_node_' + str(int(arg('agent_id'))))" />
  <arg name="set_global_params" default="true" />
  <arg name="use_private_agent_key" default="false" />
  <arg name="enable_single_monitor" default="true" />
  <arg name="monitor_stale_timeout" default="1.0" />

  <param if="$(arg set_global_params)" name="/agent_name" value="$(arg agent_name)" />
  <param if="$(arg set_global_params)" name="/agent_id" value="$(arg agent_id)" />

  <node pkg="sunray_uav_control"
        type="uav_control_node"
        name="$(arg node_name)"
        output="screen">
    <param name="config_base_path" value="$(arg config_base_path)" />
    <param name="airframe_config_path" value="$(arg airframe_config_path)" />
    <param name="airframe_type" value="$(arg airframe_type)" />
    <param name="agent_name" value="$(arg agent_name)" />
    <param name="agent_id" value="$(arg agent_id)" />
    <param name="use_private_agent_key" value="$(arg use_private_agent_key)" />
  </node>

  <node if="$(arg enable_single_monitor)"
        pkg="sunray_uav_control"
        type="uav_control_monitor_node"
        name="$(arg agent_name)$(arg agent_id)_uav_control_monitor"
        output="screen">
    <param name="agent_name" value="$(arg agent_name)" />
    <param name="agent_id" value="$(arg agent_id)" />
    <param name="agent_num" value="1" />
  </node>

  <arg name="enable_rviz_visualization" default="true" />
  <arg name="rviz_frame_id" default="world" />
  <arg name="rviz_mesh_resource" default="package://sunray_swarm_control/utils/meshes/uav.dae" />
  <arg name="uav_control_state_topic" default="/$(arg agent_name)$(arg agent_id)/sunray/uav_control/control_state" />
  <arg name="uav_control_marker_topic" default="/$(arg agent_name)$(arg agent_id)/sunray/uav_control/rviz_markers" />
  <node if="$(arg enable_rviz_visualization)"
        pkg="sunray_uav_control"
        type="rviz_visualization_uav_control_node"
        name="$(arg agent_name)$(arg agent_id)_uav_control_rviz_visualization"
        output="screen">
    <param name="agent_name" value="$(arg agent_name)" />
    <param name="agent_id" value="$(arg agent_id)" />
    <param name="frame_id" value="$(arg rviz_frame_id)" />
    <param name="mesh_resource" value="$(arg rviz_mesh_resource)" />
    <param name="state_topic" value="$(arg uav_control_state_topic)" />
    <param name="marker_topic" value="$(arg uav_control_marker_topic)" />
  </node>
</launch>
