<launch>
  <arg name="agent_num" default="3" />

  <arg name="agent_1_name" default="uav" />
  <arg name="agent_1_id" default="1" />

  <arg name="agent_2_name" default="uav" />
  <arg name="agent_2_id" default="2" />

  <arg name="agent_3_name" default="uav" />
  <arg name="agent_3_id" default="3" />

  <arg name="print_hz" default="2.0" />
  <arg name="stale_timeout" default="1.0" />

  <node pkg="sunray_uav_control"
        type="uav_control_swarm_monitor_node"
        name="uav_control_swarm_monitor"
        output="screen">
    <param name="agent_num" value="$(arg agent_num)" />
    <param name="agent_1_name" value="$(arg agent_1_name)" />
    <param name="agent_1_id" value="$(arg agent_1_id)" />
    <param name="agent_2_name" value="$(arg agent_2_name)" />
    <param name="agent_2_id" value="$(arg agent_2_id)" />
    <param name="agent_3_name" value="$(arg agent_3_name)" />
    <param name="agent_3_id" value="$(arg agent_3_id)" />
    <param name="print_hz" value="$(arg print_hz)" />
    <param name="stale_timeout" value="$(arg stale_timeout)" />
  </node>
</launch>
