<launch>
  <arg name="config_yamlfile_path"
       default="$(find sunray_uav_control)/config/sunray_control_config.yaml" />
  <arg name="uav_name" default="uav" />
  <arg name="uav_id" default="1" />
  <arg name="uav_num" default="3" />

  <include file="$(find sunray_uav_control)/launch/uav_control.launch">
    <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
    <arg name="uav_name" value="$(arg uav_name)" />
    <arg name="uav_id" value="$(arg uav_id)" />
    <arg name="node_name" value="$(eval 'uav_control_node_' + str(int(arg('uav_id'))))" />
    <arg name="set_global_params" value="false" />
  </include>

  <include file="$(find sunray_uav_control)/launch/uav_control_swarm.launch"
           if="$(eval int(arg('uav_num')) > int(arg('uav_id')))">
      <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
      <arg name="uav_name" value="$(arg uav_name)" />
      <arg name="uav_id" value="$(eval int(arg('uav_id')) + 1)" />
      <arg name="uav_num" value="$(arg uav_num)" />
  </include>
</launch>
