<launch>
  <arg name="config_yamlfile_path"
       default="$(find sunray_uav_control)/config/sunray_control_config.yaml" />
  <arg name="agent_name" default="uav" />
  <arg name="agent_id" default="1" />
  <arg name="agent_num" default="6" />
  <arg name="enable_monitor" default="true" />

  <include file="$(find sunray_uav_control)/launch/uav_control.launch">
    <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="agent_id" value="$(arg agent_id)" />
    <arg name="node_name" value="$(eval 'uav_control_node_' + str(int(arg('agent_id'))))" />
    <arg name="set_global_params" value="false" />
    <arg name="use_private_agent_key" value="true" />
    <arg name="enable_single_monitor" value="false" />
  </include>

  <include file="$(find sunray_uav_control)/launch/uav_control_swarm.launch"
           if="$(eval int(arg('agent_num')) > int(arg('agent_id')))">
      <arg name="config_yamlfile_path" value="$(arg config_yamlfile_path)" />
      <arg name="agent_name" value="$(arg agent_name)" />
      <arg name="agent_id" value="$(eval int(arg('agent_id')) + 1)" />
      <arg name="agent_num" value="$(arg agent_num)" />
  </include>

  <group if="$(arg enable_monitor)">
    <node if="$(eval int(arg('agent_id')) == 1)"
          pkg="sunray_uav_control"
          type="uav_control_monitor_node"
          name="uav_control_monitor_swarm"
          output="screen">
      <param name="agent_name" value="$(arg agent_name)" />
      <param name="agent_num" value="$(arg agent_num)" />
    </node>
  </group>
</launch>
