<launch>
  <arg name="airframe_type"
       default="sunray_150" />
  <arg name="ros_setup_file"
       default="/opt/ros/noetic/setup.bash" />
  <arg name="workspace_setup_file"
       default="~/Sunray_v2/devel/setup.bash" />
  <arg name="external_workspaces"
       default="" />

  <node pkg="sunray_system"
        type="sunray_system_node.py"
        name="sunray_system"
        output="screen">
    <param name="airframe_type" value="$(arg airframe_type)" />
    <param name="ros_setup_file" value="$(arg ros_setup_file)" />
    <param name="workspace_setup_file" value="$(arg workspace_setup_file)" />
    <rosparam param="external_workspaces" subst_value="true">[$(arg external_workspaces)]</rosparam>
  </node>
</launch>
