<!-- EGO-Planner 仿真版本 - 使用 LIO 里程计 -->
<launch>
  <!-- 里程计话题名 -->
  <arg name="odom_topic" default="/sunray/odometry"/>
  <!-- 全局点云 -->
  <arg name="cloud_topic" default="/sunray/pointCloud"/>

  <!-- 向文件 advanced_param_exp.xml 中传递参数，并在 xml 文件中执行 EGO-Planner 的主节点 -->
  <include file="$(find ego_planner)/launch/include/advanced_param_exp.xml">
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
  </include>
</launch>
