<?xml version="1.0"?>
<launch>
    <arg name="log_type" default="screen" />
    <arg name="uav_id" default="1" />

    <!-- EKF Odometry Node -->
    <node pkg="ekf_odometry" type="ekf_odometry_node" name="ekf_odometry_node" output="$(arg log_type)">
        <!-- Topic names -->
        <param name="imu_topic" type="string" value="/livox/imu" />
        <param name="odom_topic" type="string" value="/Odometry" />
    </node>

    <!-- <node pkg="ekf_odometry" type="mocap_odom_node" name="mocap_odom_node" output="$(arg log_type)">
        <param name="uav_id" type="int" value="$(arg uav_id)" />
    </node> -->
    
</launch>
