<?xml version="1.0"?>
<launch>
    <!-- IMU EKF Odometry Node -->
    <node pkg="ekf_odometry" type="ekf_odometry_node" name="ekf_odometry_node" output="screen">
        
        <!-- Topic names -->
        <param name="imu_topic" type="string" value="/livox/imu" />
        <param name="odom_topic" type="string" value="/sunray/odometry" />
    
    </node>
    
</launch>
